/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Card styling */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .card-header, .card-body {
    padding: 20px;
  }
  
  .card-header {
    background-color: #007bff;
    color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  /* Form input fields styling */
  .form-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px; /* Space between form fields */
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  /* Responsive design for smaller devices */
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    .col-md-6.d-none.d-md-block {
      display: none;
    }
  }
  